
<div ng-click="handleClick(item);">
    <div class="listIcon" style="padding:5px; display: table-cell;">
        <input type="checkbox" id="folder" name="folder" value="{{item.path}}" ng-click="toggleFolder($event, item.path)">
    </div>
    <div class="listIcon" style="padding:5px; display: table-cell;">
        <button value="play" ng-click="play(item, $event)">play</button>
    </div>
    <div class="name" style="display: table-cell;">
        <a ng-click="selectFile(item.path)"
           ng-if="item['jcr:primaryType'] == 'nt:file'"> {{item.name}}</a>
    </div>
</div>

