<div class="fileUploadForm" ng-file-drop>
    <div class="col-xs-12">

        <!-- 3. ng-file-over | ng-file-over="className" -->
        <div>
            (<a onclick="openFilePicker()">open file</a> || <a onclick="openFolderPicker()">open folder</a>)
        </div>

        <div class="well file-drop-zone" ng-file-over ng-scope="this">
            Drag Files Here to Upload to:<br/>
            {{uploadPath}}
            <br/><br/>
            Or select the files
            <div>
                    <span class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add Files</span>
                        <input type="button" name="./*" multiple="true" onclick="openFilePicker()" >
                        <input type="hidden" name="author" value="{{username}}"/>
                    </span>
                    <span class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>
                        <span>Add Folders</span>
                        <input type="button" name="./*" multiple="true" onclick="openFolderPicker()" >
                        <input type="hidden" name="author" value="{{username}}"/>
                    </span>

            </div>
        </div>
    </div>

    <div class="col-xs-12" style="margin-bottom: 40px">

        <div>
            <h3>Upload Queue ({{ uploader.queue.length }})</h3><br/>


            <button type="button" class="btn btn-success btn-s " style="width: 48%"
                    ng-click="uploader.uploadAll()"
                    ng-disabled="!uploader.getNotUploadedItems().length">
                <span class="glyphicon glyphicon-upload"></span> Upload All
            </button>

            <button type="button" class="btn btn-danger btn-s" style="width: 48%"
                    ng-click="uploader.clearQueue()"
                    ng-disabled="!uploader.queue.length">
                <span class="glyphicon glyphicon-trash"></span> Remove All
            </button>
        </div>


        <div>
            <p>

            <div class="progress">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
            </div>
            </p>
        </div>

        <div>
            <table class="table upload-queue-list">
                <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Ok</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                    <td>
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar"
                                 ng-style="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td>
                        <i class="glyphicon glyphicon-ok" ng-show="item.isUploaded"></i>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                                ng-disabled="item.isUploaded"><span class="glyphicon glyphicon-upload"></span></button>
                        <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()"><span
                                class="glyphicon glyphicon-trash"></span></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>