
// features
@import "modules/main/main";
@import "modules/login/login";
@import "modules/photos/photos";
@import "modules/user/preferences/preferences";
@import "modules/user/usermanager/usermanager";
@import "directives/fileUpload/fileUpload";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}



html, body {
    background: #f5f5f5;
    color: #3b3b41;
    border: 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size:62.5%;
}

div
{
    height:100%;
}

.section
{
    height:100%;
}

.med-btn {
    width: 50px;
    height: 50px;
}

.small-btn {
    width: 30px;
    height: 30px;
}
button[disabled] {
    color: #cccccc !important;
}

/*override*/
.modal
{
    display:block !important;
    width:400px;
    height:200px;
    background-color: white;
    left:400px;
    top:200px;
    bottom:400px;
}
