
// features
@import "modules/main/main";
@import "modules/login/login";
@import "modules/files/files";
@import "modules/photos/photos";
@import "modules/user/preferences/preferences";
@import "modules/user/usermanager/usermanager";
@import "directives/fileUpload/fileUpload";

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}



html, body {
    background: #f5f5f5;
    color: #3b3b41;
    border: 0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
    font-size:62.5%;
}

div
{
    height:100%;
}

.section
{
    height:100%;
}

button[disabled] {
    color: #cccccc !important;
}

/*override*/
.glyphicon:empty {
  width: initial;
}

.modal-dialog
{
  height: initial;
}

.model-content
{
  height: initial;
}
