<!--
  ~ This file is part of FamilyDAM Project.
  ~
  ~     The FamilyDAM Project is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     The FamilyDAM Project is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with the FamilyDAM Project.  If not, see <http://www.gnu.org/licenses/>.
  -->

<link rel="import" href="../../../components/core-selection/core-selection.html">
<link rel="import" href="dam-photo.html">
<script src="../../jquery.min.js"></script>
<script type="application/javascript" src="../../../components/classie/classie.js"></script>
<script type="application/javascript" src="../../../components/isotope/dist/isotope.pkgd.js"></script>



<polymer-element name="dam-photo-group">

    <template>
        <link rel="stylesheet" href="dam-photo-group.css">

        <h2>{{label}}</h2>
        <div id="container" layout horizontal wrap style="width:100%;">
            <template repeat="{{item in model}}">
                <dam-photo class="item"
                           model="{{item}}"
                           on-soft-select="{{softSelectPhotoClickHandler}}"
                           on-soft-deselect="{{softDeselectPhotoClickHandler}}"
                           on-hard-select="{{hardSelectPhotoClickHandler}}"></dam-photo>
            </template>
        </div>
    </template>


    <script type="text/javascript">
        // Initialize the widget when the DOM is ready
        Polymer('dam-photo-group', {

            selectedItems: [],
            timerId:undefined,

            publish: {
                model: [],
                layoutMode: 'masonry',


                /**
                 *
                 * The property set on the list view data to represent selection state.
                 * This should set so that it does not conflict with other data properties.
                 * Note, selection data is not stored on the data in given in the data property.
                 *
                 * @attribute selectedProperty
                 * @type string
                 * @default 'selected'
                 */
                selectedProperty: 'selected',

                /**
                 *
                 * Set to true to support multiple selection.
                 *
                 * @attribute multi
                 * @type boolean
                 * @default false
                 */
                multi: true

            },


            layoutModeChanged:function(arg1, arg2, arg3){
                var _container = this.$.container;
                var _initIsotope = this.initIsotope(_container);
            },

            ready: function (e) {
                console.log("ready");
                this.onMutation(this, this.childrenUpdated);
            },


            childrenUpdated: function (observer, mutations) {
                // getDistributedNodes() has new stuff.
                console.log("children updated");
                console.dir(observer);
                console.dir(mutations);

                //console.dir( getDistributedNodes() );
                // Monitor again.
                this.onMutation(this, this.childrenUpdated);
            },


            attached: function (e) {
                console.log("attached");
                console.log(e);
                //iso.layout();
            },

            domReady: function (e) {
                console.log("domReady");
                // init
                var that = this;
                var _container = this.$.container;
                var _initIsotope = this.initIsotope;
                setTimeout(function () {
                    _initIsotope(_container, that.layoutMode);
                }, 300);


                // Observe changes
                // TODO: Make it cleaner
                // create an observer instance
                /***
                 var that = this;
                 var observer = new MutationObserver(function(mutations) {
                    mutations.forEach(function(mutation) {
                        console.log("observation", mutation.type, arguments, mutations);
                        if(mutation.addedNodes){
                            //DRY, performance
                            console.log("something was added")
                            //that.createItemsList();
                            //that.refresh();
                        }
                    });
                });
                 // pass in the target node, as well as the observer options
                 observer.observe(this, { childList: true });
                 ***/
            },

            unselectOthers: function(hardSelectedItem_) {
                //todo dam-photo needs to change to use binding for the css effect to turn off.
                for (var i = 0; i < this.model.length; i++)
                {
                    var obj = this.model[i];
                    if( obj != hardSelectedItem_ ){
                        obj.selected = false;
                    }
                }
            },



            /**
             * With a slight delay to let the items finish getting added to the template repeater and then initialize the isotope layout
             * @param _container
             */
            initIsotope: function (_container, _layoutmode) {
                var that = this;
                var iso = new Isotope(_container, {
                    // options
                    itemSelector: '.item',
                    layoutMode: _layoutmode
                });

                //iso.appended( elem );
                //iso.layout()
                //iso.on( 'layoutComplete', function( isoInstance, laidOutItems ) {});
            },

            softSelectPhotoClickHandler: function(event,arg1,arg2)
            {
                console.log("single click, photo handler");
                this.fire('photo-select', event.currentTarget.model);
            },

            softDeselectPhotoClickHandler: function(event,arg1,arg2)
            {
                console.log("single deselect click, photo handler");
                this.fire('photo-deselect', event.currentTarget.model);
            },

            hardSelectPhotoClickHandler: function(event, arg2, arg3)
            {
                console.log("double click, photo handler");
                this.fire('photo-hard-select', event.currentTarget.model);
            }

        });
    </script>

</polymer-element>