<!--
  ~ This file is part of FamilyDAM Project.
  ~
  ~     The FamilyDAM Project is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     The FamilyDAM Project is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with the FamilyDAM Project.  If not, see <http://www.gnu.org/licenses/>.
  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>

<script src="plupload-2.1.2/js/plupload.full.min.js"></script>
<script src="plupload-2.1.2/js/jquery.ui.plupload/jquery.ui.plupload.min.js"></script>
<script src="plupload-2.1.2/js/plupload.dev.js"></script>
<script src="plupload-2.1.2/js/moxie.js"></script>


<polymer-element name="dialog-pluploader" extends="core-overlay">

    <template>
        <link href="http://code.jquery.com/ui/1.11.0/themes/flick/jquery-ui.css" type="text/css"></link>
        <link href="plupload-2.1.2/js/jquery.ui.plupload/css/jquery.ui.plupload.css" type="text/css"></link>
        <div id="uploaderContainer" style="background-color: white; padding:100px;border:1px solid #000;">

            <h1>Polymer example2</h1>

            <div id="filelist">Waiting for initialization</div>
            <br/>

            <div id="container">
                <a id="pickfiles" on-click="{{openDialog}}">[Select files]</a>
                <a id="uploadfiles" href="javascript:;">[Upload files]</a>
            </div>

            <br/>
            <div id="uploader"></div>
        </div>
    </template>

    <script type="text/javascript">
        // Initialize the widget when the DOM is ready
        Polymer('dialog-pluploader', {

            uploader:null,

            toggle: function () {
                this.super();
            },

            open: function () {
                this.super();
            },

            close: function () {
                this.super();
            },

            openDialog: function(event){
                console.log("inside OPEN DIALOG");

                // register listener
                require('ipc').on("openFileAndFolderPickerReply", function(response){
                    console.log("{openFileAndFolderPickerReply}" +response);
                    console.dir(response);

                    for(var i=0; i < response.length; i++)
                    {
                        console.log("add:" +response[i]);
                        uploader.addFile(response[i]);
                    }
                });

                // ask native shell to open file picker dialog
                require('ipc').send("openFileAndFolderPickerRequest");
            },

            domReady: function () {

                uploader = jQuery("#uploader").plupload({
                    runtimes: 'html5,html4',
                    container: document.getElementById('container'), // ... or DOM Element itself
                    url: 'http://localhost::8080/content/dam', //todo: get the relative dam path
                    filters: {
                        max_file_size: '100mb',
                        mime_types: [
                            {title: "Image files", extensions: "jpg,gif,png"},
                            {title: "Zip files", extensions: "zip"}
                        ]
                    },
                    chunk_size: '1mb',

                    // Rename files by clicking on their titles
                    rename: true,

                    // Sort files
                    sortable: true,

                    // Enable ability to drag'n'drop files onto the widget (currently only HTML5 supports that)
                    dragdrop: true,

                    // Views to activate
                    views: {
                        list: true,
                        thumbs: true, // Show thumbs
                        active: 'thumbs'
                    },

                    init: {
                        PostInit: function () {
                            document.getElementById('filelist').innerHTML = '';

                            document.getElementById('uploadfiles').onclick = function () {
                                uploader.start();
                                return false;
                            };
                        },

                        FilesAdded: function (up, files) {
                            plupload.each(files, function (file) {
                                document.getElementById('filelist').innerHTML += '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
                            });
                        },

                        UploadProgress: function (up, file) {
                            document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                        },

                        Error: function (up, err) {
                            document.getElementById('console').innerHTML += "\nError #" + err.code + ": " + err.message;
                        }
                    }
                });

                //uploader.init();

            }
        });
    </script>

</polymer-element>