<li ng-class="inverted ? 'timeline-inverted' : ''">
<div >
    <div class="timeline-badge"><i class="webicon facebook medium"></i></div>
    <div class="timeline-panel">
        <div class="timeline-heading">
            <h4 class="timeline-title">{{item.name}}</h4>
            <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{item.created_time | fromNow}}</small></p>
        </div>
        <div class="timeline-body">
            <div ng-if="item.attachment.fb_object_type == 'photo'">
                <img ng-src="{{item['jcr:path']}}/attachment/media" style="max-width: 100%"/>
            </div>
            <div ng-if="item.attachment.fb_object_type == 'album'">
                <img ng-src="{{item['jcr:path']}}/attachment/media" style="max-width: 100%"/>
                <!-- todo: show all -->
            </div>
            <div ng-if="item.attachment.fb_object_type == 'video'">
                <video ng-src="{{item['jcr:path']}}/attachment/media" style="max-width: 100%"></video>
            </div>
        </div>
    </div>
</div>
</li>
