<div class="content gridView">
    <ul>
        <li ng-repeat="item in assets">
            <div class="folderRenderer"
                 ng-if="item['jcr:primaryType'] == 'nt:folder'" ng-show="item['jcr:primaryType'] == 'nt:folder'">
                <a class="glyphicon glyphicon-folder-close" ng-click="selectFolder(item.path)"> {{item.name}}</a>
            </div>
            <div class="fileRenderer"
                 ng-if="item['jcr:primaryType'] == 'nt:file'" ng-show="item['jcr:primaryType'] == 'nt:file'">

                <div>
                    <img src="{{item.path}}" class="list-thumbnail-sm"/><br/>
                    <a class="glyphicon glyphicon-camera" ng-click="selectFolder(item.path)"> {{item.name}}</a>
                </div>
            </div>
        </li>
    </ul>
</div>
