<div class="photos section" ng-class="{'col-xs-12':!ModeFullScreen, 'col-sm-8':!ModeFullScreen, 'col-xs-12': ModeFullScreen}">
    <div id="toolbar">
        <span>/Photos</span>

        <span class="pull-right">
            <a ui-sref="photos.list"
               class="glyphicon glyphicon-list btn btn-default btn-sm"
                ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>

            <a ui-sref="photos.grid"
               class="glyphicon glyphicon-th btn btn-default btn-sm"
               ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
        </span>
    </div>

    <div class="content">
        <div ui-view>Photos Go HERE</div>
    </div>

</div>


<!-- start: Widgets Area -->
<aside id="sidebar-right" class="col-sm-3 hidden-xs" ng-hide="ModeFullScreen"  >
    <div class="sidebar-nav">
        <div style="text-align: center; vertical-align: center; border: 3px dashed; border-radius: 5px; width: 20rem; height: 20rem;">
            <form action="http://localhost:8080/content/dam/upload/queue" method="POST" enctype="multipart/form-data">
                <input type="file" name="./*" />
                <input type="submit"/>
            </form>
        </div>
    </div>
</aside>
<!-- end: Widgets Area -->


