<div class="photos section col-sm-12">
    <div id="toolbar">
        <span>/Photos</span>

        <span class="pull-right">
            <a class="glyphicon glyphicon-list btn btn-default btn-sm" ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></a>
            &nbsp;
            <a class="glyphicon glyphicon-th btn btn-default btn-sm" ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></a>
        </span>
    </div>

    <div class="content">
        Photos Go HERE
    </div>
</div>

