<div class="photos section" ng-class="{'col-xs-12':!ModeFullScreen, 'col-sm-8':!ModeFullScreen, 'col-xs-12': ModeFullScreen}">
    <div id="toolbar">
        <ol class="breadcrumb" style="display: inline;">
            <li ng-repeat="item in breadcrumb" ng-class="{'active':$last}"><a ng-click="selectFolder(item.path)">{{item.name}}</a></li>
        </ol>

        <span class="pull-right">

            <button
               class="glyphicon glyphicon-refresh btn btn-default btn-sm"
               ng-click="refresh()"></button>

            <button ui-sref="photos.list"
                    class="glyphicon glyphicon-list btn btn-default btn-sm"
                    ng-class="{active: layout == 'list'}" ng-click="layout = 'list'"></button>

            <button ui-sref="photos.grid"
                    class="glyphicon glyphicon-th btn btn-default btn-sm"
                    ng-class="{active: layout == 'grid'}" ng-click="layout = 'grid'"></button>

            <span class="divider">&nbsp;|&nbsp;</span>

            <button
               class="glyphicon glyphicon-folder-close btn btn-default btn-sm"
                ng-click="createFolder()"></button>

            <button
               class="glyphicon glyphicon-upload btn btn-default btn-sm"
                ng-click="" ng-disabled="true"></button>

            <button
               class="glyphicon glyphicon-trash btn btn-default btn-sm"
                ng-click="" ng-disabled="true"></button>


        </span>
    </div>

    <div class="content">
        <div ui-view style="height: 100%;padding: 0px;border: 0px;">Photos Go HERE</div>
    </div>

</div>


<!-- start: Widgets Area -->
<aside id="sidebar-right" class="col-sm-3 hidden-xs" ng-hide="ModeFullScreen"  >
    <div class="sidebar-nav">
        <div style="text-align: center; vertical-align: center; border: 3px dashed; border-radius: 5px; width: 20rem; height: 20rem;">
            <form action="http://localhost:8080/content/dam/upload/queue" method="POST" enctype="multipart/form-data">
                <input type="file" name="./*" />
                <input type="submit"/>
            </form>
        </div>
    </div>
</aside>
<!-- end: Widgets Area -->


<script type="text/ng-template" id="FolderNameModal">
    <div class="modal-body">
        <div class="form-group">
            <label for="folderName">Folder Name</label>
            <input type="text" class="form-control" id="folderName" placeholder="Name" ng-model="formModel.path">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="createFolder()">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>


