<!--
  ~ This file is part of FamilyCloud Project.
  ~
  ~     The FamilyCloud Project is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     The FamilyCloud Project is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with the FamilyCloud Project.  If not, see <http://www.gnu.org/licenses/>.
  -->
<div class="sidebarTab">

    <h4>Filter by location</h4>
    <div x-location-filter event="filter:location:path" root="/content/dam"></div>
    <br/>
    <h4>Filter by date</h4>
    <div x-date-filter event="filter:date:from" label="Photos After"></div>
    <div x-date-filter event="filter:date:to" label="Photos Before"></div>
    <br/>
    <h4>Filter by tags</h4>
    <div x-tag-filter event="filter:tags"></div>
</div>