<!--
  ~ This file is part of FamilyDAM Project.
  ~
  ~     The FamilyDAM Project is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU General Public License as published by
  ~     the Free Software Foundation, either version 3 of the License, or
  ~     (at your option) any later version.
  ~
  ~     The FamilyDAM Project is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU General Public License for more details.
  ~
  ~     You should have received a copy of the GNU General Public License
  ~     along with the FamilyDAM Project.  If not, see <http://www.gnu.org/licenses/>.
  -->

<div id="photoDetails" class="photos section" ng-class="{'col-xs-12':!showSidebar, 'col-sm-9': showSidebar}">

    <div id="toolbar">
        <ol class="breadcrumb" style="display: inline;">
            <li ng-repeat="item in breadcrumb" ng-class="{'active':$last}"><a ng-click="selectFolder(item.path)">{{item.name}}</a>
            </li>
        </ol>
    </div>

    <div class="content">
        <div class="buttonBar">

            <button ui-sref="photo:files.upload"
                    class="glyphicon glyphicon-list btn btn-default btn-md"></button>

            <button ui-sref="photos:grid.filter"
                    class="glyphicon glyphicon-th btn btn-default btn-md"></button>

        </div>

        <img ng-src="{{scaledImageUrl}}" style="width: 100%;"/><br/>
        {{node['jcr:uuid']}}<br/>
        {{node['width']}}x{{node['height']}}<br/>
    </div>


</div>


<!-- start: Widgets Area -->
<aside id="sidebar-right" class="col-sm-3 hidden-xs" ng-show="showSidebar">

    <tabset>
        <tab heading="Metadata">
            <div class="sidebarTab">
                <h4>Tags</h4>
                <div x-keywords
                     path="{{currentPath}}"
                     items="{{node}}"></div>

            </div>
        </tab>
        <tab heading="Edit">
            <div class="sidebarTab">
                Photo Edit
            </div>
        </tab>
        <tab heading="Versions">
            <div class="sidebarTab">
                Photo Versions
            </div>
        </tab>
    </tabset>

</aside>
<!-- end: Widgets Area -->



